html {
	background-color: #f3f3f3;
	box-sizing: border-box;

}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	color: green;
}

body
{
	font-family: Arial, Helvetica, sans-serif
}

article {
	background-color: aqua;
	padding: 10px;
}

h1 {
	color: white;
	background: red;
}


h2 {
	color: white;
	background: blue;
	padding: 10px;
}

header {
	background-color: #f3f3f3;
	padding: 20px;
}

.footer {

	font-size: 12px;
	padding: 20px;
}

.footer__paragraph {
	background-color: #f3f3f3;
	font-style: oblique;
}

.section {

	width: 350px;
	height: 350px;
	

	padding: 16px 26px;
	background-color: antiquewhite;
	margin-bottom: 20px;
	border-radius: 32px;
	margin: 40px auto;
}

.section__header 
{
	background-color: #b00000;
	padding: 20px;
}

.section__header--special {
	background-color: tomato;
}

section__profilepicture	{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #f3f3f3;
	margin: 0 auto;
}

.my-article p {
	background: crimson;
	color: white;

}



.navbar {
	top: 0;
	position:sticky
	padding: 10px;
	background: black;


}

.navbar__link {
	color: white;

}
